.input-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}

.input-control {
  border-radius: 2px;
  min-width: 100%;
  width: 100%;
  display: block;
  width: 100%;
  border: 0;
  padding: 10px;
  height: 70px;
  box-sizing: border-box;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}


.placelabel {
  position: absolute;
  top: 35px;
  transform: translateY(-50%);
  left: 10px;
  color: #8c8c8c;
  transition: all 0.5s;
  white-space: nowrap;
}

.placelabel-active {
  top: 2px;
  transform: translateY(0);
  font-weight: bold;
  font-size: 0.75rem;
}

.input-error {
  display: none;
}

.input-error-active {
  display: block;
  transform: translateY(0);
  margin: 0.5rem 0 0;
  color:#ffa00a;
}