.title {
  text-align: center;
  font-size: 3.125rem;
  line-height: 1.1;
}

.form {
  margin: 4rem auto;
}

@media screen and (max-width: 930px) {
  .title {
    font-size: 2.5rem;
  }
  .form {
    margin: 1.5rem auto 4rem;
  }
}