.user-image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  /* margin-right: 1rem; */
}

.droptop {
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  border-radius: 2px;
  background: black;
  min-width: 160px;
  box-shadow: 0 0 5px rgba(255,255,255,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item-title,
.dropdown-item {
  display: block;
  outline: none;
  border: none;
  font-size: 0.75rem;
  color: inherit;
  background: transparent;
  padding: 1rem;
  margin: 0;
  text-decoration: none;
}
.dropdown-item-title {
  font-weight: bold;
  color: #8fffff
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  text-decoration: underline;
}