.dropdown {
  position: relative;
  min-width: 100px;
}
.droptop-wrapper {
  display: flex;
  align-items: center;
}

.droptop {
  color: white;
  cursor: pointer;
  display: block;  
  border: 2px solid white;
  padding: 0.25rem;
}

.dropdown-content {
  left: 0;
  display: none;
  position: absolute;
  border-radius: 2px;
  background: black;
  width: 300px;
  box-shadow: 0 0 5px rgba(255,255,255,0.1);
  z-index: 1;
}

.dropdown-content-active {
  display: grid;
  padding: 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  row-gap: 0.25rem;
}

.dropdown-item {
  display: block;
  border: 1px solid red;
  outline: none;
  border: none;
  font-size: 0.75rem;
  color: inherit;
  background: transparent;
  padding: 0.25rem;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
}

.dropdown-item:hover {
  text-decoration: underline;
}

.close-btn {
  position: relative;
  visibility: hidden;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(125, 125, 125, 0.8);
  margin-left: 0.5rem;
}

.close-btn-active {
  visibility: visible;
}

.close-btn svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  fill: white;
}

@media screen and (max-width: 330px) {
  .dropdown-content {
    width: 220px;
  }
}