.form {
  /* border: 1px solid black; */
  background: rgba(0, 0, 0, 0.7);
  max-width: 600px;
  padding: 1rem;
  border-radius: 1rem;
  margin: 0 auto;
}
.margin-b {
  margin-bottom: 1rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background: #e40813;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.5;
  cursor: initial;
}

.error,
.message {
  color: white;
  
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.error {
  background: #e40813;
}

.message {
  background: #008800
}