.wrapper {
  max-width: 800px;
}

.title {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 400;
}

.form {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  margin-top: 20px;
  flex-wrap: wrap;
  position: relative;
}

.input-wrapper {
  position: relative;
}

.input-control {
  min-width: 550px;
  height: 100%;
  display: block;
  width: 100%;
  border: 0;
  padding: 10px;
  height: 70px;
  box-sizing: border-box;
  outline: none;
}

.placelabel {
  position: absolute;
  top: 35px;
  transform: translateY(-50%);
  left: 10px;
  color: #757575;
  transition: all 0.5s;
}

.placelabel-active {
  top: 2px;
  transform: translateY(0);
  font-weight: bold;
  font-size: 0.75rem;
}

.btn {
  height: 70px;
  padding: 0 1.625rem;
  display: flex;
  align-items: center;
  color: inherit;
  background: #e40813;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.625rem;
  border-radius: 2px;
}
.btn:hover {
  background: #f40612;
}

.input-error {
  display: none;
}

.input-error-active {
  display: block;
  margin: 0.5rem 0 0;
  color:#ffa00a;
}

.shevron {
  margin-left: 1rem;
  width: 10px;
}

@media screen and (max-width: 850px) {
  .form {
    max-width: 550px;
    flex-direction: column;
    align-items: center;
  }

  .input-control {
    min-width: 500px;
  }
  .btn {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    height: 50px;
  }
}
@media screen and (max-width: 550px) {
  .input-control {
    min-width: 300px;
  }
}
@media screen and (max-width: 315px) {
  .input-control {
    padding: 0.25rem;
    min-width: 200px;
  }
}