.frame {
  margin-bottom: 8px;
  font-size: 1.625rem;
  line-height: 1.1;
  overflow: hidden;
}

.header,
.content {
  background: #303030;
}

.header {
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  margin-bottom: 1px;
  display: block;
  width: 100%;
  outline: none;
  border: none;
  color: inherit;
  padding: 1.3rem 1.95rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}

.content {
  border: 0.5px solid transparent;
  margin: 0;
  font-size: 26px;
  font-weight: normal;
  line-height: normal;
  background: #303030;
  user-select: none;
  z-index: 1;
  transform: translateY(-2px);
}

.cross {
  width: 1.5rem;
  user-select: none;
}

.cross-open {
  transform: rotate(45deg);
}

.open {
  max-height: none;
  transition: max-height 0.5s;
  transform: translateY(0);
}

.closed {
  max-height: 0;
  line-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.inner {
  font-size: inherit;
  display: block;
  margin: 1.95rem;
}

@media screen and (max-width: 930px) {
  .frame {
    font-size: 1.25rem;
  }

  .inner {
    margin: 1.5rem;
    font-size: 1.25rem;
  }

  .cross {
    width: 1rem;
  }
}