.wraper {
  border-bottom: 1px solid transparent;
}

title {
  font-size: 2rem;
}

.error {
  color: white;
  background: #e40813;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto 5rem;
  position: relative;
  max-width: 400px;
  padding: 3.75rem 4.25rem 2.5rem;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.75);
}

.btn {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background: #e40813;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
}

.btn:disabled {
  opacity: 0.5;
  cursor: initial;
}


.input-control-dark input {
  background: #333333;
  color: #ddd;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

@media screen and (max-width: 720px) {
  .wrapper {
    
    padding: 0;
  }
  .form {
    max-width: 100%;
    padding: 0 2.5rem 2.5rem;
    border-bottom: 1px solid #737373;
    border-radius: 0;
    margin-bottom: 0;
  }

  .btn {
    margin-top: 0.5rem;
    font-size: 1.25rem;
    height: 50px;
  }
}