.wrapper {
  padding: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.innerWrapper {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  grid-template-rows: repeat(3, 2rem);
}
.innerWrapper div:nth-child(even) {
  text-align: right;
}
.email {
  font-weight: bold;
}

.btn {
  padding: 1rem;
  text-align: center;
  color: #202020;
  background: #aaaaaa;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
}

.btn:hover{
  background: #ff0000;
}

.warn {
  display: none;
  color: red;
  margin-left: 1rem;
}

.delete-wrapper:hover .warn {
  display: inline
}

.btn:disabled {
  opacity: 0.5;
  cursor: initial;
}

.link {
  text-decoration: none;
  color: #001fa8;
  font-weight: bold;
}

.link:hover,
.link:active {
  text-decoration: underline;
}

.error {
  color: white;
  background: #e40813;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}

