.wrapper {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.title {
  margin-right: 0.5rem;
}

@media screen and (max-width: 680px) {
  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper > * {
    margin-bottom: 0.5rem;
  }
}