.wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title {
  font-size: 3.125rem;
}

.subtitle {
  font-size: 1.625rem;
}
.title,
.subtitle {
  margin: 2rem 0;
}

.return {

  padding: 0.75rem 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  z-index: 1;
  color: #000;
  background: #fff;
}
.return:hover {
  opacity: 0.75;
}

