.wrapper {
  position: relative;
}
.wrapper-bg {
  background-image: url(../../assets/header_background_large.jpg);
  background-position: center;
  background-size: cover;
}

.top-wrapper {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
}

.logo {
  width: 190px;
  z-index: 0;
}

.login-btn {
  padding: 7px 16px;
  font-size: 1rem;
  text-decoration: none;
  border-radius: 2px;
  z-index: 1;
}

.login-btn-main{
  color: white;
  background: #e50914;
}

.login-btn-link {
  font-weight: bold;
  color: black;
  background: transparent;
}

.login-btn-link:hover {
  text-decoration: underline;
}

.margin-r-auto {
  margin-right: auto;
}

@media screen and (max-width: 930px) {
  .logo {
    width: 150px
  }
}

@media screen and (max-width: 720px) {
  .wrapper-bg-sm {
    background: transparent;
  }
  .top-wrapper {
    padding: 1rem;
  }
  .logo {
    width: 120px
  }
}

@media screen and (max-width: 330px) {
  .top-wrapper {
    padding: 0.25rem;
  }
  .logo {
    width: 100px
  }
}