.inner {
  position: relative;
  padding: 50px 5%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}

.flipped {
  flex-direction: row-reverse;
}

.pane-grow {
  flex-grow: 1;
}

.pane-text {
  flex-basis: 52%;
}

.pane-image {
  flex-basis: 48%;
}

.jumbotron-image {
  max-width: 100%;
}

.extra-space {
  margin-top: 3rem;
}

.title {
  font-size: 3.125rem;
  line-height: 1.1;
  margin-bottom: .5rem;
}

.subtitle {
  font-size: 1.625rem;
  font-weight: 400;
}

@media screen and (max-width: 930px) {
  .inner {
    flex-direction: column;
  }
  .title {
    font-size: 2.5rem;
  }
  .subtitle {
    font-size: 1.25rem;
  }
  .pane{
    text-align: center;
  }
}