.inner-wrapper {
  padding: 70px 45px 2rem;
  margin: 0 auto;
  max-width: 1000px;
  color: #757575;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 15px;
  padding-left: 0;
}

.link-wrapper {
  list-style: none;
  margin-left: 0;  
}

.link {  
  color: #757575;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-wrapper  .link,
.copyright {
  font-size: 0.8rem;
}

.copyright {
  margin: 1.5rem 0 0;
}

@media screen and (max-width: 550px) {
  .wrapper {
    padding: 50px 5% 0;
  }
}