.wrapper {
  margin: 0 auto;
  max-width: 440px;
}

.email,
.email-value,
.title,
.subtitle {
  display: block;
}

.title,
.subtitle {
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  margin-top: 0.75rem;
}

.desc {
  font-size: 1.25rem;
}

.email-value {
  font-weight: bold;
}

.input-control input {
  border: 1px solid #8c8c8c;
  border-radius: 2px;
}

.btn {
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #ffffff;
  background: #e40813;
  font-family: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 2px;
  font-weight: bold;
  margin-top: 1rem;  
}

.btn:disabled {
  opacity: 0.5;
  cursor: initial;
}

.error {
  color: white;
  background: #e40813;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}
