.title,
.summary {
  max-width: 50%;
  padding-left: 1rem;
}

.title {
  font-size: 3.125rem;
}

.summary {
  font-size: 1.625rem;
}


@media screen and (max-width: 930px) {

  .title,
  .summary {
    max-width: 75%;

  }

  .title {
    font-size: 2.5rem;
  }

  .summary {
    font-size: 1.25rem;
  }

  .pane {
    text-align: center;
  }
}

@media screen and (max-width: 600px) {

  .title,
  .summary {
    max-width: 100%;

  }

  .title {
    font-size: 2rem;
  }

  .summary {
    font-size: 1rem;
  }


}