.title {
  padding: 0 1rem;
  text-align: center;
  margin: 7.5rem auto 0;
  font-size: 3.125rem;
  max-width: 650px;
  z-index: 1;
}

.subtitle {
  text-align: center;
  font-size: 1.625rem;
  font-weight: 400;
  z-index: 1;
}


.form {
  padding: 1rem;
  margin: 0 auto 12rem;
}

@media screen and (max-width: 550px) {
  .form {
    padding: 0.25rem;
  }

  .title {
    font-size: 1.75rem;
    max-width: 600px;
    margin: 4rem auto 0;
  }
  
  .subtitle {
    font-size: 1.125rem;
  }

  .form {
    margin: 0 auto 6rem;
  }
}