.link {
  text-decoration: none;
  color: inherit;
  margin-left: 0.5rem;
  transition: all 0.2s; 
  user-select: none;
}

.link:nth-child(1) {
  margin-left: 0;
}

.link:hover {
  color: #757575;
}

.link-active {
  font-weight: bold;
  cursor: default;
  pointer-events: none;
}

.link-active:hover {
  color: inherit;
}