.card-title{
  text-align: center;
  cursor: pointer;
  user-select: none;
  box-shadow: 0 0 5px rgba(255,255,255,0.2);
  border-radius: 2px;
}

.card-title:hover {
  background: rgba(55,55,55,0.2);
}

.card-items {
  display: none;
}

.card-items-active {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  text-align: center;
}

.card-item {
  box-shadow: 0 0 5px rgba(255,255,255,0.2);
  padding: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: all 500ms;
}
.card-item:hover {
  transform: scale(1.05);
}

.image {
  max-width: 200px;
  border-radius: 5px;
}

.feature-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  z-index: 5;
  position: fixed;
  top: 10vh;
  left: 10vw;
  bottom: 10vh;
  right: 10vw;
  border-radius: 1rem;
  background: #424242;

}

.overlay {
  background: rgba(24, 24, 24, 0.5);
  position: fixed;
  top:0;
  left: 0;
  bottom: 0;
  right: 0;
  user-select: none;
  z-index: 5;
}
.feature-icon,
.feature-icon-active {
  margin-right: 0.5rem;
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ededed;
}
.feature-icon svg,
.feature-icon-active svg {
  width: 1rem;
  height: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.feature-icon {
  background: transparent;
}

.feature-icon-active {
  background: #ededed;
}

.feature-icon svg {
  fill: #ededed;
}

.feature-icon-active svg {
  fill: #424242;
}

.feature-icon:last-of-type,
.feature-icon-active:last-of-type {
  margin-right: 0;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  background: rgba(24, 24, 24, 0.8);
}
.close-btn svg {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.feature-secondary {
  color: #aaa;
}
.feature-info {
  text-align: justify;
  padding: 0 1rem;
  overflow: auto;
}
.actions {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}
.actions > div {
  margin-right: 0.5rem;
}


@media screen and (max-width: 900px) {
  .feature-content {
    top: 5vh;
    left: 5vw;
    bottom: 5vh;
    right: 5vw;
  }
}

@media screen and (max-width: 680px) {
  .feature-content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 200px;
    top: 3vh;
    left: 3vw;
    bottom: 3vh;
    right: 3vw;
    padding-bottom: 1rem;
  }
}
